<h1><%= @post.name %></h1>
<strong>Description:</strong>
<p><%= @post.description %></p>
<p><strong>Price:</strong> $<%= @post.price %></p>
<p><strong>Contact:</strong> <%= @post.email %></p>

<%= link_to "Back to #{@category.name}", @category %>
<%#= link_to "Edit post", edit_post_path(@post.key) %>
